html , body{
    height: 100%;
    width: 100%;
    background-color:rgb(rgb(93, 65, 65), rgb(77, 92, 77), rgb(31, 31, 44))
}
.button{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    width: 66px  ;
    font-size: 1.3rem;
}
.row{
    margin: 8px 0;
}
.row input{
    margin: 10px ;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 28px;
}
